GUIX_EXTRA_PROFILES="$HOME/.guix-extra-profiles"
PROJECT_NAME="k8x1d-emacs"

eval $(guix shell guile --search-paths)
export GUILE_LOAD_PATH="$PWD:$HOME/.config/guix/current/share/guile/site/3.0:$HOME/$GUIX_EXTRA_PROFILES/$PROJECT_NAME/$PROJECT_NAME/share/guile/site/3.0:$GUILE_LOAD_PATH"
