auto-save-list
eln-cache
elpa
tmp
todo.org
transient
bookmarks
forge-database.sqlite
org-roam.db
projects
recentf
.cache
emms
straight
tabsession.el
tree-sitter
k8x1d
.org-id-locations
ltex-ls-16.0.0
network-security.data
tramp
viper
session.*
url
lsp-bridge
scheme-lsp-server
lsp-julia
eshell
custom.el
.lsp-session-v1