.cache/
auto-save-list/
bookmarks
eln-cache/
elpa/
history
transient/
tree-sitter/
tramp
persist
projects
org-roam.db
forge-database*
elpy
lsp-bridge
.org-id-locations
backend-0.2.4.1
lisp/k8x1d-keys.el
mastodon.plstore
tabsession.el
url
straight
test
.emacs.desktop
lisp/elpaca-module.el
lisp/straight-module.el
test.mp3
lisp/management/todo-txt-module.el
patches/org-margin-svg-support.patch

