[Desktop Entry]
Categories=Development;TextEditor;
Comment[en_US]=Edit text
Comment=Edit text
Exec=k8x1d-emacs
GenericName[en_US]=Text Editor
GenericName=Text Editor
Icon=/home/k8x1d/.local/share/icons/k8x1d-avatar_small.png
MimeType=text/x-tex;text/x-pascal;text/x-moc;text/x-makefile;text/x-java;text/x-csrc;text/x-csrc;text/x-chdr;text/x-c++src;text/x-c++hdr;text/tcl;text/plain;application/x-shellscript;
Name[en_US]=k8x1d-emacs
Name=k8x1d-emacs
Path=
StartupNotify=true
StartupWMClass=Emacs
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
